*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #B8D0EB;
    text-align: center;
}
.container{
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
   
}
.game{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap:wrap ;
    justify-content: center;
    align-items: center;
    gap:1.5vmin;
}
.box{
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 1rem rgba(0,0,0,0.2);
    font-size: 8vmin;
    color: #6F2DBD;
    background-color: #B9FAF8;
}
#reset-btn{
    padding: 1rem;
    font-size: 1.25rem;
    background-color: #A663CC;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 1rem rgba(0,0,0,0.2);
}
#new-game{
    padding: 1rem;
    font-size: 1.25rem;
    background-color: #A663CC;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 1rem rgba(0,0,0,0.2);
}
#msg{
    color: #6F2DBD;
    font-size: 8vmin;
}
.msg-container{
    height: 100vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap:2rem
}
.hide{
    display: none;
}